<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    </head>
    <body>
        <p>Dobrý den,</p>
        <p>Vaše nové heslo je: <strong>{$newPass}</strong></p><br/>
        <p>Doporučujeme si heslo změnit ihned po přihlášení.</p><br/>
	    <p>S pozdravem,</p>
        <p>Podpora Knihovny Hradec Králové</p>



</body>
</html>



