header{
	border-bottom: 1px solid #cdcdcd;
	h1{
		margin: 10px 0 15px;
	}
	> .pull-right{
		p{
			margin-top: 25px;
			a{
				color: #000;
				.font-size(15px);
				margin-left: 30px;
				.font-weight(600);
			}
		}
	}

}

.navbar-header{
	.navbar-brand{
		display: none;
	}
}

.navbar-collapse{
	ul{
		margin: 0;
		li{
			display: inline-block;
			.font-size(15px);
			text-transform: uppercase;
			a{
				display: block;
				color: #000;
				.font-weight(600);
				padding: 20px 20px;
				&:hover{
					text-decoration: none;
					color: @orange
				}
			}
			&:first-child{
				a{
					//padding-left: 0;

				}
			}
			&.active{
				a{
					color: @orange;

				}
			}
		}
	}
}