{block #content}
<h2 class="pull-left">Knihy</h2>
<div class="pull-right">
	<a n:href=":Admin:Catalog:addBook" class="btn">Přidat knihu</a>
</div>
<div class="clearfix"></div>
{snippet dataGrid}
	{control booksDataGrid}
{/snippet}

