{block #content}
<h2 class="pull-left">Kategorie</h2>
<div class="pull-right">
	<a n:href=":Admin:Catalog:addCategory" class="btn">Přidat kategorii</a>
</div>
<div class="clearfix"></div>
{snippet dataGrid}
	{control categoryDataGrid}
{/snippet}

