{block #content}

<div class="container account">
        <h2><span>Můj</span> účet</h2>
	<nav>
		<div class="col-md-6 col-sm-6 text-center">
			<p><a n:href=":Front:MyProfile:myBooks" class="btn orange">Mé výpůjčky</a></p>
		</div>
		<div class="col-md-6 col-sm-6 text-center">
			<p><a n:href=":Front:MyProfile:myData" class="btn orange">Mé osobní údaje</a></p>
		</div>
		<div class="clearfix"></div>
	</nav>
	{snippet dataGrid}
		{control myBooksDataGrid}
	{/snippet}
</div>