{block #content}
<h2 class="pull-left">Aktuality</h2>
<div class="pull-right">
	<a n:href=":Admin:News:add" class="btn">Přidat aktualitu</a>
</div>
<div class="clearfix"></div>
{snippet dataGrid}
{control newsDataGrid}
{/snippet}
{/block}

